div {
  width:100%;
  min-width:220px;
  display:table;
}
img {
  width:100px;
  height:138px;
  margin:2px;
  float:left;
}
button {
  padding:5px;
  margin:4px;
  font-size:12px;
  font-weight:bold;
}
button:hover:enabled {
  cursor:pointer;
}
p {
  padding:0;
  margin:0;
  padding-top:10px;
  padding-bottom:2px;
}
p, span {
  font-size:14px;
  line-height:25px;
  font-weight:bold;
}
#game-over {
  margin-left:4px;
}